.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  width: 50%;
  min-height: 40%;
}

@media only screen and (min-width: 320px) and (max-width: 776px) {
  .main {
    width: 90%;
  }
}

.modal {
  padding: 30px 2rem;
  width: 100%;
}

.title {
  font-family: laca, sans-serif;
  transition: height 2.3s ease;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}

.timeIndicator {
  background-color: #E0013D;
  height: 10px;
  width: 0%;
  transition: all 1s ease-in;
}

.choices {
  display: flex;
  flex-direction: column;
}

.choices > button {
  height: 40px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  padding: 0%;
  border-style: none;
  box-sizing: content-box;
  box-shadow: 5px 10px 10px #0000001A;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.05) translateZ(0);
    background-color: #eeeeee;
  }
  
  &:active {
    background-color: #acacac;
  
    div {
      background-color: #E0013D;
    }
  }
}

.choices div {
  background-color: #0042FE;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: laca, sans-serif;
  font-weight: 600;
  font-size: 24px;
  font-style: normal;
  color: #FFFFFF;
  margin-right: 20px;
}



.questionDesc {
  margin-bottom: 30px;
}

.resetButton {
  width: 100px;
  height: 40px;
  background-color: #E0013D;
  margin-bottom: 10px;
  padding: 0%;
  border-style: none;
  box-sizing: content-box;
  box-shadow: 5px 10px 10px #0000001A;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out;
  font-family: laca, sans-serif;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  color: #FFFFFF;

  &:hover {
    transform: scale(1.05) translateZ(0);
    background-color: #d60039;
  }
  
  &:active {
    background-color: #af002f;
  }
}